/// Copy to app_check_debug.dart and paste your registered debug tokens.
const androidAppCheckDebugToken = 'YOUR-ANDROID-APP-CHECK-DEBUG-TOKEN';
const iosAppCheckDebugToken = 'YOUR-IOS-APP-CHECK-DEBUG-TOKEN';
